{% extends "base.html" %}
{% block content %}
<form method="post" action="{% url 'note-create' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Заголовок</label>
        <input type="text" name="title" id="title" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Текст заметки</label>
        <textarea name="text" id="text" rows="4" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}